#JobCreate-view {
    width: 100%;
    height: 96%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
#JobCreate-view-innerWrapper {
    width: 75%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#JobCreate-view-form-container {
    height: 100%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: auto;
}
#JobCreate-view-form-container form{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
#JobCreate-inner-form-container { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* justify-content: center;
    align-content: center; */
    align-items: center;
    overflow: auto;
}

.JobCreate-from-fromGroup {
    width: 93%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;
    margin-top: 1.5%;
    position: relative;
}
.JobCreate-from-fromGroup label {
    color: #aeaeae;
    margin-bottom: 4px;
}
.JobCreate-from-fromGroup input {
    outline: none;
    background: transparent;
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 12px 16px 14px;
    height: 22px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: #d3d3d3;
    font-weight: 300;
    transition: 125ms cubic-bezier(.25,.1,.25,1);
}
.JobCreate-from-fromGroup textarea {
    outline: none;
    background: transparent;
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 12px 16px 14px;
    height: 170px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: #d3d3d3;
    font-weight: 300;
    transition: 125ms cubic-bezier(.25,.1,.25,1);
    resize: none;
}
.groupwborder {
    margin-bottom: 16px;
}

#JobCreate-inner-form-container::-webkit-scrollbar {
    width: .5em;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    /* cursor: pointer; */
    outline: none !important;
  }
   
#JobCreate-inner-form-container::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 4px;
    /* cursor: pointer; */
    outline: none !important;
}
   
#JobCreate-inner-form-container::-webkit-scrollbar-thumb {
    background-color: rgb(15, 15, 15);
    outline: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none !important;
}

.JobCreate-fromGroup-fieldsetContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.JobCreate-fromGroup-fieldsetContainer fieldset {
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 12px 16px 14px;
    height: auto;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: #d3d3d3;
    font-weight: 300;
    transition: 125ms cubic-bezier(.25,.1,.25,1);
    display: block;
}
.JobCreate-fromGroup-fieldsetContainer fieldset div {
    display: inline-block;
    height: auto;
    border: 1px solid #00a68a;
    border-radius: 10px;
    padding: 8px;
    margin-right: 12px;
    margin-bottom: 12px;
    transition: 125ms cubic-bezier(.25,.1,.25,1);
    cursor: pointer;
}
.JobCreate-fromGroup-fieldsetContainer fieldset div:hover {
    opacity: .8;
    transform: scale(1.1);
}
.groupExep {
    color: #00a68a !important;
    margin-top: 4px;
}
.JobCreate-from-addmoreBtn {
    border: 1px solid #00a68a;
    width: max-content;
    padding: 4px;
    margin-top: 8px;
    align-self: flex-end;
    border-radius: 4px;
    color: rgb(27, 27, 27);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    outline: none;
    background-color: #00a68a;
    background-image: url('https://i.ibb.co/0Fwh04s/light-paper-fibers.png');
    background-blend-mode: overlay;
    transition: 125ms cubic-bezier(.25,.1,.25,1);
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.JobCreate-from-pickedListHoriz {
    width: auto;
    height: 45px;
    max-width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.JobCreate-from-pickedListHoriz .otr {
    width: auto;
    height: auto;
    padding: 4px;
    padding-right: 8px;
    border: 1px solid #00a68a;
    border-radius: 4px;
    color: #d3d3d3;
    align-items: center;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.otr .locotrname {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
}
.JobCreate-from-pickedListHoriz .otr span {
    color: #df454e;
    position: absolute;
    top: -18px;
    right: -8px;
    height: min-content !important;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
.JobCreate-ta-counter {
    border: 1px solid #00a68a;
    width: fit-content;
    padding: 4px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    border-radius: 4px;
    background-color: #00a68a;
    color: rgb(18, 18, 18)
}


.listJobBtn {
    width: max-content;
    padding: 8px;
    border: 1px solid #00a68a;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 3%;
    border-radius: 4px;
    cursor: pointer;
    background-image: url('https://i.ibb.co/cJfKMKR/light-paper-fibers-1.png');
    background-blend-mode: overlay;
    background-color: #00a68a;
    color: rgb(27, 27, 27);
    transition: 125ms cubic-bezier(.25,.1,.25,1);
    position: absolute;
    bottom: 1%;
    right: 7%;
}
.listJobBtn:hover {
    opacity: .7;
}

.listJobBtn  h2 {
    font-weight: 300;
    font-family: Montserrat, sans-serif;
    margin: 0;
    color:rgb(27, 27, 27);
    font-size: 17px;
}

#toggleJobSuccess {
    border: 1px solid #00a68a;
    font-size: 22px;
    position: absolute;
    top: 0;
    z-index: 3000;
    padding: 4px;
    border-radius: 4px;
    color: #d3d3d3;
    background: #00a68a;
}

.jobSubFail {
    border: 1px solid #df454e;
    font-size: 22px;
    position: absolute;
    top: 0;
    z-index: 3000;
    padding: 4px;
    border-radius: 4px;
    color: #d3d3d3;
    background: #df454e;
}
