#login-page-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;
}

#auth-login-formElem {
    /* margin-top: 15% !important; */
}

#auth-login-emailInput-container input {
    width: 100%;
}

#auth-login-passInput-container input {
    width: 100%;
}

